
cad design/stm32-bluepill-2.snapshot.64.zip
cad design/stm32-bluepill-2.snapshot.64/STM32_Blue_Pill.zip
cad design/roller.stl
cad design/8 башмаков под печать.stl
cad design/8 башмаков под печать.a3d
cad design/tank sketch 17 04.stp
cad design/крышка башни v3.stl
